video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(#) no-repeat;
background-size: cover;
}


*{
  font-family: sans-serif;
}

.title-container{
}
.title{

  font-family: helvetica;

  font-size: 1.5em;
  color:white;
  display: inline-block;
  margin-left:1%;
}
.title-container img{
  margin-top: 1%;
  max-height:5%;
  max-width:5%;
}


.navigation-form-container{
  background-color: rgba(0,0,0,0.6);
  margin-top: 20%;
  height:15%;
  border-radius: 5px;
}
.navigation-form-container form{
  margin: 0 auto;
  padding-bottom: 3%;
  width:40%;

}
.navigation-form-container input{
  height:40px;
  display: inline-block;
  border-radius: 2px;
  border:none;
  margin-top:4%;
  font-size: 1em;


}

.start{
  margin-left: 8%;
}

.end{
  margin-left: 4%;
}

.welcome{
  color:white;
  position:relative;
  display: block;
  width:50%;
  text-align: center;
  margin:12% auto;
}
.submit{
  border-radius: 2px;
  background-color: #00cd96;
  vertical-align: middle;
  color:white;
  font-size: 1em;
  border:none;
  padding:10px;
  margin-left: 5%;
}

.submit:hover{
  background-color: #00a478;
  color: lightgrey;
}

.how-button{
  border:none;
  font-size: 1em;
  padding:10px;
  background-color: rgba(256,256,256,0.3);
  border:1px solid white;
  color:white;
  border-radius: 2px;

}
.how-button:hover{
  background-color: rgba(0,0,0,0.5);
}

.account-button{
  position:relative;
  display:inline-block;
  background-color: transparent;
  color:white;
  margin-left: 70%;
}
.login{
  padding: 5px;
  display: inline-block;
  border:1px solid white;
  border-radius: 2px;

}
.signup{
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  border:1px solid white;
}
.account:hover{
  background-color: rgba(0,0,0,0.5);
}






@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

*{
  font-family: sans-serif;
}

video#bgvid {
display:none;
}


html{
  background-image: url(http://i.imgur.com/0GWg0Lv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100%;
  width: 100%;
}

.title-container{
}
.title{
/*  font-family: 'Amatic SC', cursive;
*/
  font-family: helvetica;

  font-size: 1.5em;
  color:white;
  display: inline-block;
  margin-left:1%;
}
.title-container img{
  margin-top: 1%;
  max-height:5%;
  max-width:5%;
}



.navigation-form-container{
  height:40%;
  width:40%;
  display: block;
  background-color: transparent;
  margin:auto;
}

.navigation-form-container form{
  margin: 0 auto;
  padding-bottom: 3%;
  width:40%;

}
.navigation-form-container input{
  height:40px;
  display: block;
  margin:auto;
  border-radius: 2px;
  border:none;
  margin-top:4%;
  font-size: 1em;

}


.welcome{
  color:white;
  position:relative;
  display: block;
  width:50%;
  text-align: center;
  margin:12% auto;
}
.submit{
  border-radius: 2px;
  display:block;
  margin:auto;
  background-color: #00cd96;
  vertical-align: middle;
  color:white;
  font-size: 1em;
  border:none;
  padding:10px;
  margin-top: 10px;
}

.submit:hover{
  background-color: #00a478;
  color: lightgrey;
}

.how-button{
  border:none;
  font-size: 1em;
  padding:10px;
  background-color: rgba(256,256,256,0.3);
  border:1px solid white;
  color:white;
  border-radius: 2px;

}
.how-button:hover{
  background-color: rgba(0,0,0,0.5);
}

.account-button{
  position:relative;
  display:inline-block;
  background-color: transparent;
  color:white;
  margin-left: 70%;
}
.login{
  padding: 5px;
  display: inline-block;
  border:1px solid white;
  border-radius: 2px;

}
.signup{
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  border:1px solid white;
}
.account:hover{
  background-color: rgba(0,0,0,0.5);
}


}