<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<!--   <link rel="stylesheet" href="css/application.css">
 -->
</head>
  <body>
<div class="title-container"><img src="bike.png"></img><h3 class="title">rackcity</h3>
  <div class="account-button">
  <div class="login account">Login</div>
  <div class="signup account">Signup</div>
</div>
</div>


<div class="welcome">
<h1>BIKE SAFELY</h1>
<h3>Get directions to the nearest bike rack.</h3>
<button class="how-button">How it works</button>
</div>
<video autoplay loop poster="http://i.imgur.com/yySr2HZ.jpg" id="bgvid">
<source src="UnlinedDenseGalapagoshawk.webm" type="video/webm">
</video>
<div class="navigation-form-container">
  <form action="">
    <input type="text" placeholder="Starting Location">
    <input type="text" placeholder="Destination">
    <button class="submit" value="submit">Submit</button>
  </form>
</div>


  </body>
</html>

